<ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">SVG画像</div>
</ons-toolbar>

<div ng-controller="ImageDetailController as detail">
    <div style="text-align: center">
        <input type="text" id="url" ng-show="true" value=""  style="width: 1%;outline: 0;" readonly></label>
        <ons-button ng-click="detail.URLcopy();">
            Copy URL
        </ons-button>
        <ons-button ng-click="detail.sizeReset();">
            リセット
    	</ons-button>
        <ons-button ng-click="detail.setAnimate();">
            スタンプ
        </ons-button>
        <ons-button ng-click="myNavigator.popPage();">
            戻る
        </ons-button>
        <!--<br />
        <ons-button ng-click="detail.sizeReset();">
        	リセット
    	</ons-button>
        <ons-button ng-click="detail.sizeUp();">
        	拡大
    	</ons-button>
        <ons-button ng-click="detail.sizeDown();">
    		縮小
    	</ons-button>
        <ons-button ng-click="detail.sizeDouble();">
        	２倍
    	</ons-button>-->
        <!--<a href="https://twitter.com/intent/tweet?text=こんにちは">
          Twitterで「こんにちは」とつぶやく
        </a>
        <a href="line://msg/text/hello">
        <img src="./img/line.png" width="40px" height="40px" alt="LINEで送る" />
        </a>-->
        <div id="svg"></div>
    </div>
</div>
