<ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">SVG画像</div>
</ons-toolbar>

<div ng-controller="ImageDetailController as detail">
    <div style="text-align: center">
        <input type="text" id="url" ng-show="true" value=""  style="width: 1%;outline: 0;" readonly></label>
        <ons-button ng-click="detail.URLcopy();">
            Copy URL
        </ons-button>
        <ons-button ng-click="detail.showMessageList();">
            追加
    	</ons-button>
        <ons-button ng-click="detail.svgUpdate();">
            更新
        </ons-button>
        <ons-button ng-click="myNavigator.popPage();">
            戻る
        </ons-button>

        <!--<a href="https://twitter.com/intent/tweet?text=こんにちは">
          Twitterで「こんにちは」とつぶやく
        </a>
        <a href="line://msg/text/hello">
        <img src="./img/line.png" width="40px" height="40px" alt="LINEで送る" />
        </a>-->
        <div id="svg"></div>

        <ons-list>
            <ons-list-item ng-repeat="msg in detail.svgfiles" class="list-item-container" >
                <ons-row ng-click="detail.addMessage($index)">
                    <ons-col width="30%" ng-attr-id="{{msg.fileName}}_detail"></ons-col>
                    <ons-col>
                        <div class="name">{{msg.fileName}}</div>
                        <div class="name">{{msg.fileSize}}</div>
                        <div class="name">{{msg.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
      
    </div>
</div>
